#body{


}
.image{
    position: relative;
    top: 0%;
    left: 40%;
    margin-left: 0px;
    margin-top: 0px;
}
#header {
    position: relative;
    border-bottom: solid darkblue;
    width: 100%;
    margin-top:-50px;
    height: 40px;
    margin-bottom: 0px;
}

#title {
    float:left;
    margin-left: 100px;
    padding-top: auto;
    font-size: 40px;
    font-family: Orbitiron, sans-serif;
    color: red;
}

ul {
    list-style-type: none;
    margin-right: auto;
    padding-top: 5px;
    overflow: hidden;
    background-color: white;
    color: red;
}

li {
    float: left;
}

li a {
    display: inline-block;
    padding: 8px;
}

.top_bar {
    display: flex;
    align-items: center;
}
.top_bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    list-style: circle;
    background-color: #001f3f;
    colro:red;
}
.top_bar li {
    padding: auto;
    margin-left: 20px;
    background-color: #001f3f;
    colro:red;
    font-size: 15px;
    font-weight: bold;
}

#side {
    position: relative;
    background-color: #001f3f;
    float: right;
    width: 15%;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 0px;
}

#side li {
    padding-left: 20px;
}
#side li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display:block;
    width: 20px;

}
#side ul {

    margin: auto;
    padding: auto;
    position: absolute;
    background-color: #001f3f;
}
#side ul li {
    display: block;

}
#side ul li:hover {
    background-color: #67BCDB;
    width: 219px;
    color:red;

}
#side ul a,visited {
    color: red;
    padding: 20px;
    text-decoration: wavy underline indianred;
    display: block;
}
#side ul a:hover {
    color: red;
    float:left;
    text-decoration: overline underline #FFE658;
    padding-left: auto ;
    display: block;
}
#side ul li:hover ul {
    display: block;
    width: 100%;
    margin:  auto;
}

#side ul ul {
    display: none;
    position: absolute;
}
#side ul ul li {
    display: flex;
    padding: 25.5px;
    background-color: mediumpurple;
}

#side ul ul li:hover {
    color: red;
    width: 168px;
}
#side ul ul li,visited {
    color: Red;
    margin: 0;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
    background-color: red;
    font-size: 16px;
    font-weight: bold;
}

#footer {
    height: 40px;
    width: 100%;
    background-color: #001f3f;
    clear: both;
    padding: 0px;
    bottom: 0px;
}
#footer p {
    margin-top: 10px;
    margin-left: 400px;
    text-shadow: 1px 1px 1px black;
    color: Orange;
}